<nav class = " navbar navbar-default" role="navigation">
  <div class = "container-fluid">

    <div class = "navbar-header">
      <a class = "navbar-brand" href="#"
        <span class="glyphicon glyphicon glyphicon-heart"></span>
NuReech Navigation
</a>
</div>
<ul class ="nav navbar-nav">
  <li><a href="/"> Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/Posts">Posts</a></li>
  <li><a href="/Register">Register</a></li>
  <li><a href="/User">User</a></li>
</ul>
</div>
</nav>
