<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Welcome to NuReech</title>
    <linl rel = "stylesheet" href = " //maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
  body { padding-top: 60px; }
  </style>


    </head>
    <body class="container">
      <header>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img src= "NuReech-LLC-Logo.svg"
                  NuReech
                </a>
              </div>
              <ul class-"nav navbar-nav">
                <li><a href="/">Home </a></li>
                <li><a href="/login"> Login </a></li>
                <li><a href="/posts"> Posts</a></li>
                <li><a href="/Register"> Register</a></li>
                <li><a href="/User"> User</a></li>
                </ul>
              </div>
            </nav>

        </header>


        <main>
          <div class="NuReech">
            <h1> Welcome to NuReech</h1>
            <P> Start Reeching out</p>
            </div>
          </main>
          </body>
          </html>

          <footer>
          <p class="text-center text-muted">@ Copyright 2016 NuRech</P>
</footer>
