<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Welcome to NuReech</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router.js"></script>
    <script type="text/javascript" src="javascripts/script.min.js"></script>
    <style>
      body { padding-top: 60px; }
    </style>
  </head>
    <body>

      <div class="NuReech">
        <h1>Welcome to NuReech</h1>
        <P>Start Reeching out</p>

      </div>

      <footer>
        <p>&copy; Copyright 2016 NuRech</P>
      </footer>
      <script src="https://local:3000/livereload.js"></script>

    </body>
</html>
