<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/head %>
    </head>
    <body class="container">
      <header>
        <% include ../views/header %>
        </header>
        <main>
          <div class="NuReech">
            <h1> Welcome to NuReech</h1>
            <P> Start Reeching out</p>
            </div>
          </main>
          </body>
          </html>
