<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Welcome to NuReech</title>
  <style>
  body { padding-top: 60px; }
  </style>


    </head>
    <body class="container">
      <header>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"
                  NuReech
                </a>
              </div>
              <ul class-"nav navbar-nav">
                <li><a href="/login"> Login </a></li>
                <li><a href="/posts"> Posts</a></li>
                <li><a href="/uegister"> Register</a></li>
                <li><a href="/user"> User</a></li>
                </ul>
              </dqiv>
            </nav>

        </header>


        <main>
          <div class="NuReech">
            <h1> Welcome to NuReech</h1>
            <P> Start Reeching out</p>
            </div>
          </main>
          </body>
          </html>

<div class="form-group">
  <input type="text"
  class="form-control"
  placeholder="Whats Happening?"
  ng-model="Reech.body"
</div>
<button type="Submit" class ="btn btn-primary"> Reech Out!</button>

          <footer>
          <p class="text-center text-muted">@ Copyright 2016 NuRech</P>
</footer>
