
<div class="page-header">
<h1> Reeching Out </h1>
</div>

<div ng-show="An error has occured" class="alert-danger row">
</div>

<form ng-submit-"login()"
  style="margin-top:50px;">
<h3> Reech in!</h3>

<div class="form-group">
<input type="text"
class="form-control"
placeholder="Enter Username"
ng-model="user.username"></input>
</div>

<div class="form-group">
<input type="password"
class="form-control"
placeholder="password"
ng-model="user.password"></input>

</div>
<button type="submit" class="btn btn-primary"> Lets Reech in! </button>
</form>
