<section>
  <div class="reech comments">
    <p>{{reech.body}}</p>
    <span ng-show="reech.author">posted by {{reech.author}}</span>
    <span ng-show="reech.timestamp">{{reech.timestamp | timeago}}</span>
  </div>

  <div class="reech comment" ng-repeat="comment in reech.comments | orderBy:'timestamp'">
    <span ng-show="comment.author">{{comment.author}}</span>
    <span ng-show="comment.timestamp">{{comment.timestamp | timeago}}</span>
    <p>{{comment.body}}</p>
  </div>

  <form class="postAReech addComment" ng-submit="addComment()">
    <input type="text"
    placeholder="Add A Comment"
    ng-model="body"></input>
    <button type="submit">Post</button>
  </form>
</section>
