@import url(https://fonts.googleapis.com/css?family=Roboto:100|Ubuntu:300,500);
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Ubuntu, Sans-Serif;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 120%;
  background: #f0f0f0;
  color: #a0a0a0;
}

/* line 13, ../../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial;
  font-weight: bold;
  color: #ae1e1e;
  text-shadow: #000;
}

/* line 20, ../../lib/sass/_base.scss */
h1 {
  font-size: 2.2rem;
  color: #6d1313;
  margin-bottom: .4rem;
  border-bottom: 1px solid #c6c6c6;
  padding-top: 10px;
}

/* line 28, ../../lib/sass/_base.scss */
h3 {
  font-weight: lighter;
  font-size: 1.4rem;
}

/* line 33, ../../lib/sass/_base.scss */
a {
  font-size: 1rem;
  color: #cc2323;
  text-decoration: none;
}
/* line 38, ../../lib/sass/_base.scss */
a:hover {
  color: #901919;
  text-decoration: none;
  cursor: pointer;
  background: rgba(195, 195, 195, 0.26);
}
/* line 45, ../../lib/sass/_base.scss */
a:active {
  text-decoration: none;
  color: #cc2323;
}

/* line 51, ../../lib/sass/_base.scss */
form {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 55, ../../lib/sass/_base.scss */
form input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  border: #a0a0a0;
  padding: 5px 10px;
}
/* line 62, ../../lib/sass/_base.scss */
form button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a0a0a0;
  border: #adadad;
  color: #ae1e1e;
  padding: 5px 10px;
}

/* line 2, ../../lib/sass/_layout.scss */
nav a {
  padding: 5px 10px;
}
