@import url(https://fonts.googleapis.com/css?family=Roboto:100|Ubuntu:300,500);
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Ubuntu, Sans-Serif;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 120%;
  background: #f0f0f0;
  color: #a0a0a0;
}

/* line 13, ../../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial;
  font-weight: bold;
  color: #ae1e1e;
  text-shadow: #000;
}

/* line 20, ../../lib/sass/_base.scss */
h1 {
  font-size: 1.8rem;
  color: #6d1313;
  margin-bottom: .4rem;
  padding-top: 10px;
  padding-left: 20px;
}

/* line 28, ../../lib/sass/_base.scss */
h3 {
  font-weight: lighter;
  font-size: 1.4rem;
  margin-bottom: .4rem;
}

/* line 34, ../../lib/sass/_base.scss */
a {
  font-size: 1rem;
  color: #cc2323;
  text-decoration: none;
}
/* line 39, ../../lib/sass/_base.scss */
a:hover {
  color: #901919;
  text-decoration: none;
  cursor: pointer;
  background: rgba(195, 195, 195, 0.26);
}
/* line 46, ../../lib/sass/_base.scss */
a:active {
  text-decoration: none;
  color: #cc2323;
}

/* line 52, ../../lib/sass/_base.scss */
form {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 57, ../../lib/sass/_base.scss */
form input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  border: #a0a0a0;
  padding: 5px 10px;
}
/* line 64, ../../lib/sass/_base.scss */
form button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a0a0a0;
  border: #adadad;
  color: #ae1e1e;
  padding: 5px 10px;
}

/* line 73, ../../lib/sass/_base.scss */
.page-header {
  border-bottom: none;
}

/* line 14, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.6/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../lib/sass/_layout.scss */
.navi {
  width: 100%;
  min-height: 60px;
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  top: 0;
}
/* line 21, ../../lib/sass/_layout.scss */
.navi #logo {
  display: inline-block;
  margin: 5px 10px;
  margin-bottom: 0;
  height: 50px;
}
/* line 27, ../../lib/sass/_layout.scss */
.navi #logo:hover {
  background: none;
}
/* line 32, ../../lib/sass/_layout.scss */
.navi img {
  max-width: 300px;
}
/* line 36, ../../lib/sass/_layout.scss */
.navi ul {
  text-align: center;
  margin-bottom: 5px;
}
/* line 40, ../../lib/sass/_layout.scss */
.navi ul li {
  width: 100%;
}
/* line 43, ../../lib/sass/_layout.scss */
.navi ul li:hover {
  color: #901919;
  text-decoration: none;
  cursor: pointer;
  background: rgba(195, 195, 195, 0.26);
}
/* line 51, ../../lib/sass/_layout.scss */
.navi ul a {
  padding: 5px 10px;
  line-height: 160%;
}
/* line 55, ../../lib/sass/_layout.scss */
.navi ul a:hover {
  background: none;
}
@media (min-width: 39em) {
  /* line 13, ../../lib/sass/_layout.scss */
  .navi {
    -moz-transition: all 0.5s eas-out;
    -o-transition: all 0.5s eas-out;
    -webkit-transition: all 0.5s eas-out;
    transition: all 0.5s eas-out;
  }
  /* line 64, ../../lib/sass/_layout.scss */
  .navi ul {
    float: right;
    margin-bottom: 0;
  }
  /* line 68, ../../lib/sass/_layout.scss */
  .navi ul li {
    float: left;
    width: auto;
  }
  /* line 73, ../../lib/sass/_layout.scss */
  .navi ul a {
    line-height: 60px;
  }
}

/* line 82, ../../lib/sass/_layout.scss */
.layout {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%;
  margin-top: 120px;
  margin-bottom: 100px;
}
/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}
/* line 88, ../../lib/sass/_layout.scss */
.layout .page-header-line {
  width: 100%;
  height: 1px;
  background: #c6c6c6;
}
/* line 94, ../../lib/sass/_layout.scss */
.layout .postAReech {
  margin-bottom: 30px;
}
/* line 99, ../../lib/sass/_layout.scss */
.layout .postAReech input {
  margin-right: 30px;
  margin-bottom: 10px;
  width: 100%;
}
/* line 105, ../../lib/sass/_layout.scss */
.layout .postAReech button {
  float: right;
}
/* line 110, ../../lib/sass/_layout.scss */
.layout h3 {
  margin-bottom: 30px;
}
/* line 113, ../../lib/sass/_layout.scss */
.layout h3 a {
  font-size: 1.4rem;
  text-decoration: underline;
}
/* line 117, ../../lib/sass/_layout.scss */
.layout h3 a:hover {
  background: none;
  text-decoration: underline;
}
/* line 124, ../../lib/sass/_layout.scss */
.layout .reech {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: #a0a0a0;
  color: #ae1e1e;
  padding: 10px 15px;
  margin-bottom: 10px;
}
/* line 131, ../../lib/sass/_layout.scss */
.layout .reech p {
  font-size: 1.4rem;
  margin-bottom: .3rem;
}
/* line 136, ../../lib/sass/_layout.scss */
.layout .reech span {
  color: #fff;
  font-size: .8rem;
  margin-right: 5px;
}
/* line 142, ../../lib/sass/_layout.scss */
.layout .reech a {
  color: #e6e6e6;
  padding: none;
  font-size: .8rem;
}
/* line 147, ../../lib/sass/_layout.scss */
.layout .reech a:hover {
  color: #404040;
  background: none;
}
@media (min-width: 30em) {
  /* line 82, ../../lib/sass/_layout.scss */
  .layout {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  /* line 157, ../../lib/sass/_layout.scss */
  .layout .postAReech {
    width: 450px;
    margin: auto;
    margin-bottom: 30px;
  }
  /* line 162, ../../lib/sass/_layout.scss */
  .layout .postAReech input {
    width: auto;
  }
  /* line 166, ../../lib/sass/_layout.scss */
  .layout .postAReech button {
    float: none;
  }
  /* line 171, ../../lib/sass/_layout.scss */
  .layout .homecontent {
    width: 70.58824%;
    float: left;
    margin-right: 2.94118%;
    margin-left: 14.70588%;
    margin-right: 14.70588%;
  }
}
@media (min-width: 39em) {
  /* line 82, ../../lib/sass/_layout.scss */
  .layout {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 12.82051%;
    margin-right: 12.82051%;
    margin-top: 60px;
  }
  /* line 187, ../../lib/sass/_layout.scss */
  .layout .postAReech input {
    margin-right: 10px;
  }
}
@media (min-width: 56em) {
  /* line 82, ../../lib/sass/_layout.scss */
  .layout {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
    margin-right: 25.42373%;
  }
}

/* line 203, ../../lib/sass/_layout.scss */
footer {
  overflow: hidden;
  *zoom: 1;
}
